In [ ]:
a = [10, 20, 30, 40]

len(a)
a.append(50)
a.extend([60, 70, 80])
a.remove(30)
a.pop(-2), a
sum(a)/len(a)  # media
min(a), max(a)
s = "Hola mundo"

print(a)
def es_palindromo(s):
    s = s.replace(" ", "").lower()
    return s == s[::-1]

es_palindromo("ana")
es_palindromo("hola")
es_palindromo("dabale arroz a la zorra el abad")

def doble(s):
    b = []
    for x in s:
        b.append(x * 10)
    return b

doble([1, 2, 3, 4])
doble("hola")

[1, 2, 3] * 5
zeros = [0] * 10

zeros = [a] * 10  # cuidado con esto
zeros[0].append(1)
zeros

[10, 20, 40, 50, 60, 80]

[[10, 20, 40, 50, 60, 80, 1],
 [10, 20, 40, 50, 60, 80, 1],
 [10, 20, 40, 50, 60, 80, 1],
 [10, 20, 40, 50, 60, 80, 1],
 [10, 20, 40, 50, 60, 80, 1],
 [10, 20, 40, 50, 60, 80, 1],
 [10, 20, 40, 50, 60, 80, 1],
 [10, 20, 40, 50, 60, 80, 1],
 [10, 20, 40, 50, 60, 80, 1],
 [10, 20, 40, 50, 60, 80, 1]]

In [ ]:
digitos = [0, 1, 22, 33, 4, 5, 6, 7, 8, 9]
pares = []
for d in digitos:
    if d % 2 == 0:
        pares.append(d)
pares

doble = []
for x in digitos:
    doble.append(x * 2)
print(doble)

triple = [x * 3 for x in digitos]
print(triple)

impar = [x for x in digitos if x % 2 != 0]
print(impar)

[0, 2, 44, 66, 8, 10, 12, 14, 16, 18]
[0, 3, 66, 99, 12, 15, 18, 21, 24, 27]
[1, 33, 5, 7, 9]

In [127]:
a = {"nombre": "ale", "edad": 44}
a["nombre"]
if "sueldo" in a:
    print(a["sueldo"])
else:
    print("no existe sueldo")
a.get("sueldo", 0)  # devuelve 0 si no existe

a["sueldo"] = 2000  # crea o actualiza
a.setdefault("sueldo", 1000)  

# JS : Object.keys( a )  -->  list( a )
a.keys()# si no existe lo crea con valor 0
a.items()  # devuelve tuplas (clave, valor)

for x in a.items():
    print(f"{x}: ")

no existe sueldo
('nombre', 'ale'):
('edad', 44):
('sueldo', 2000):

In [ ]:
t = (10, 20, 30, 40, 50)
t[1::2]
min(t), max(t), sum(t)
len(t)
for x in t:
    print(x)
l = [x * 2 for x in t]
l
t = list("hola mundo")
t

10
20
30
40
50

['h', 'o', 'l', 'a', ' ', 'm', 'u', 'n', 'd', 'o']

In [163]:
c = {1, 2, 3, 1, 2, 3, 4, 5}
c = set([1, 2, 3, 1, 2, 3, 4, 5])

l = set("hola mundo")

num = "uno dos uno tres dos uno".split()
unicos = list(set(num))
unicos

contador = {}
for n in num:
    if n not in contador:
        contador[n] = 0
    contador[n] += 1
contador
con = {}
for n in num:
    con[n] = con.get(n, 0) + 1
con

co = {}
for n in num:
    co.setdefault(n, 0)
    co[n] += 1
co
print(num)
print(set(num))
for x in set(num):
    print(f"{x}: {num.count(x)}")

x = (num.count(x) for x in num if num.count(x) > 1)
print(next(x))
print(next(x))
print(next(x))
print(next(x))

['uno', 'dos', 'uno', 'tres', 'dos', 'uno']
{'dos', 'tres', 'uno'}
dos: 2
tres: 1
uno: 3
3
2
3
2